<h1>CoViD-19</h1>

<div class="container">
  <div class="card-deck">
  {{#each card}}
    {{> covid/cards-block }}
  {{/each}}
  </div>
</div>
</div>




  {{> covid/country-picker-block }}


<h2>Cases Worldwide</h2>
  {{> covid/chart-block }}