<h1>CoViD-19</h1>

<h2></h2>
<div class="container">
  <div class="card-deck">
  {{#each card}}
    {{> covid/cards-block }}
  {{/each}}
  </div>
</div>
</div>

<h2>Country Picker</h2>
  {{> covid/country-picker-block }}


<h2>Chart</h2>
  {{> covid/chart-block }}